
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {

	scroll-behavior: smooth;
}


section {
	height: 100vh;
	background-color: #EEEEEE;
}


/*landing Page*/

#landingpage {

	background-color: #1C658C;
}


hr {
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
}

#img-me {
	border-radius: 50%;
	border: 10px solid white;
	width: 20em;
	display: block;
	margin-right: auto;
	margin-left: auto;

}


#personal-details {
	height: auto;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8vh;
	background-color: #D8D2CB;
	border-radius: 5px;
	z-index: auto;
	position: relative;
	box-sizing: border-box;

}

.pd-item1 {
	border-radius: 5px;
	position: relative;
	background-color: #EEEEEE;

}


.pd-item2{
	border-radius: 5px;
	position: relative;
}


/*About me*/


#aboutmepage {
	background-color: #EEEEEE;
	margin-top: -16vh;
	padding-top: 20vh;
	padding-bottom: 10vh;
	height: auto;
}



#img-me2 {
width: 15em;
}

.aboutme-item1 {
	border-radius: 0 50% 10px 0;
	background-color: white;
}

.aboutme-item2 {
	border-radius: 0 50px 50px 0;
	background-color: white;
}

.aboutme-item3 {
	border-radius: 0 10px 50% 0;
	background-color: white;
}

.work-item {
	border-radius: 10px;
}

.work-heading {
	border-radius: 30px;
}

.work-experience {
	height: auto;
	padding: 5vh;
}